* {
    /* Se aplica la fuente descargada a la totalidad de la pagina */
    font-family: 'Nunito';
}

.text-indigo-800 {
    color: #290661;
}

.text-indigo-700 {
    color: #3D0A91;
}

.text-indigo-700:hover {
    color: #3D0A91;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}