{% extends 'base_auth.html' %}

{% load static %}
{% load widget_tweaks %}


{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12 mt-5">
			<div class="card mb-4">
				<h5 class="card-header">{{ title_container }}</h5>

				<!--Photo profile-->
				<div class="card-body">
					<div class="d-flex align-items-start align-items-sm-center gap-4">
						<img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/profile_default.png' %} {% endif %} " alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
						<div class="button-wrapper">
							<h5 >¡Hola @{{ user.username }}!</h5>
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0" id="profile_img_upload">
								<span class="d-none d-sm-block">Subir foto</span>
								<i class="bx bx-upload d-block d-sm-none">Subir foto</i>
								{{ form.image|attr:"onchange:previewImage(event, '#uploadedAvatar')"|attr:"accept:image/png, image/jpeg"|attr:"id:upload"|attr:"hidden:"}}
							</label>
							<p class="text-muted mb-0">Puedes subir tu foto solo en estos formatos JPG or PNG</p>
						</div>
					</div>
				</div>
				<!--End Photo profile-->

				<hr class="my-0">

				<div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="alert alert-dark mb-0" role="alert">
                                <h6 class="alert-heading fw-bold mb-1">Tenemos algo que decirte</h6>
							    <p class="mb-0">En estas versiones preliminares el nombre no se usara en ninguna parte de la app, en futuras actualizaciones puede que si</p>
							    <p class="mb-0">En todo momento te notificaremos como tratamos tus datos</p>
							    <p class="mb-0">Cosas mejores nos esperan.... </p>
                            </div>
                        </div>
                    </div>
					<div class="row">
                        
						<div class="mb-3 col-md-6">
							<label  class="form-label">Nombre (Requerido)</label>
							{{ form.first_name|add_class:'form-control'|attr:'placeholder:¿Petunio? '|attr:'required:'|attr:'autofocus:'|attr:'autocomplete:off' }}
						</div>

						<div class="mb-3 col-md-6">
							<label  class="form-label">Apellido (Opcional)</label>
							{{ form.last_name|add_class:'form-control'|attr:'placeholder:¿Apellido? ¿Con que se come eso?'|attr:'tabindex:"1"'|attr:'autocomplete:off' }}
						</div>

                        <div class="mb-3 col-md-6">
							<label  class="form-label">Apodo (Opcional)</label>
							{{ form.nick|add_class:'form-control'|attr:'placeholder:¿Tienes un buen apodo?'|attr:'tabindex:"2"'|attr:'autocomplete:off' }}
						</div>
						
						<div class="mb-3 col-md-6">
							<label  class="form-label">Cuentanos mas sobre ti (Opcional) <i class="far fa-face-grin-tongue"></i></label>
							{{ form.bio|add_class:'form-control'|attr:'placeholder:¿Las razones por las cuales te uniste? o ¡algo genial que contar!'|attr:'tabindex:"3"'|attr:'autocomplete:off' }}
						</div>

					</div>
                    <div class="mb-3 col-12 mb-0">
						<div class="alert alert-success">
							<h6 class="alert-heading fw-bold mb-1">Algo importante!</h6>
							<p class="mb-0">No introduzcas datos delicados, puesto que estamos en los inicios. Prometemos trabajar aun mas en la seguridad de nuestro sitio</p>
						</div>
					</div>
					<div class="mt-2">
						<button type="submit" class="btn btn-primary me-2">Guardar perfil</button>
					</div>
				</div>
				<!-- /Account -->
			</div>
        </div>
    </div>
</form>
{% endblock content %}


{% block scripts %}

	<script>
		function previewImage(event, querySelector){

			//Recuperamos el input que desencadeno la acción
			const input = event.target;
			
			//Recuperamos la etiqueta img donde cargaremos la imagen
			$imgPreview = document.querySelector(querySelector);
		
			// Verificamos si existe una imagen seleccionada
			if(!input.files.length) return
			
			//Recuperamos el archivo subido
			file = input.files[0];
		
			//Creamos la url
			objectURL = URL.createObjectURL(file);
			
			//Modificamos el atributo src de la etiqueta img
			$imgPreview.src = objectURL;
						
		}

		$('#profile_img_upload a').remove()
		$('#profile_img_upload br').remove()
		$('#profile_img_upload #image-clear_id').remove()
		$('#profile_img_upload label').remove()
		$('#profile_img_upload').contents().filter(function() {
			return this.nodeType === 3;
		}).remove();

	</script>

{% endblock %}
	